<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}
</ul>

  <br>

<ul class="sidebar-nav list-group">
  <li class="list-group-item"><a href="{% url 'company:index' %}">Home page</a></li>
  <li class="list-group-item"><a href="{% url 'company:worker-list' %}">All workers</a></li>
  <li class="list-group-item"><a href="{% url 'company:position-list' %}">All positions</a></li>
  <li class="list-group-item"><a href="{% url 'company:task-list' %}">All tasks</a></li>
  <li class="list-group-item"><a href="{% url 'company:task-types-list' %}">All task types</a></li>
</ul>
