<ul class="sidebar-nav list-group">
  <li class="list-group-item"><a href="{% url 'company:index' %}">Home page</a></li>
  <li class="list-group-item"><a href="{% url 'company:worker-list' %}">All workers</a></li>
  <li class="list-group-item"><a href="{% url 'company:position-list' %}">All positions</a></li>
  <li class="list-group-item"><a href="{% url 'company:task-list' %}">All tasks</a></li>
  <li class="list-group-item"><a href="{% url 'company:task-types-list' %}">All task types</a></li>
</ul>
