{% extends "base.html" %}

{% block content %}
  <h1 class="text-white">
    Position List
    <a style="float: right" class="btn btn-outline-light" href="{% url 'company:position-create' %}">Create</a>
  </h1>
   <form action="" method="get" class="form-inline">
    {{ search_form.name }}
    <input class="btn btn-outline-light" type="submit" value="🔎">
  </form>
  {% if position_list %}
    <table class="table shadow text-white fw-bold">
      <tr class="fw-bold">
        <th>ID</th>
        <th>NAME</th>
        <th>UPDATE</th>
        <th>DELETE</th>
      </tr>
      {% for position in position_list %}
        <tr>
          <td>
            {{ position.id }}
          </td>
          <td>
            <a href="{% url 'company:position-detail' pk=position.id %}">{{ position.name }}</a>
          </td>
          <td>
            <a href="{% url 'company:position-update' pk=position.pk %}">Update</a>
          </td>
          <td>
            <a href="{% url 'company:position-delete' pk=position.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}

    </table>
  {% else  %}
    <p>There are not positions in company</p>
  {% endif %}
{% endblock %}
