{% extends "base.html" %}

{% block content %}
  <h1>
    Position List
    <a href="{% url 'company:position-create' %}" class="btn btn-outline-primary link-to-page">
      Create
    </a>
  </h1>
  {% if position_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

      {% for position in position_list %}
        <tr>
          <td>
              {{ position.id }}
          </td>
          <td>
              <a href="{% url 'company:position-detail' pk=position.pk %}">{{ position.name }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no positions in the company.</p>
  {% endif %}

{% endblock %}