{% extends "base.html" %}

{% block content %}
  <h1>
    Position List
    <a style="float: right" class="btn btn-secondary" href="{% url 'company:position-create' %}">Create</a>
  </h1>
   <form action="" method="get" class="form-inline">
    {{ search_form.name }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>
  {% if position_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for position in position_list %}
        <tr>
          <td>
            {{ position.id }}
          </td>
          <td>
            {{ position.name }}
          </td>
          <td>
            <a href="{% url 'company:position-update' pk=position.pk %}">UPDATE</a>
          </td>
          <td>
            <a href="{% url 'company:position-delete' pk=position.pk %}">DELETE</a>
          </td>
        </tr>
      {% endfor %}

    </table>
  {% else  %}
    <p>There are not positions in company</p>
  {% endif %}
{% endblock %}
