{% extends "base.html" %}

{% block content %}
  <h1 class="text-white">
    Task List
    <a style="float: right" class="btn btn-outline-light" href="{% url 'company:task-create' %}">Create</a>
  </h1>
  <form action="" method="get" class="form-inline">
    {{ search_form.name }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>
  {% if task_list %}
    <table class="table shadow text-white fw-bold">
      <tr class="text-white-50">
        <th>ID</th>
        <th>NAME</th>
        <th>DEADLINE</th>
        <th>STATUS</th>
        <th>PRIORITY</th>
        <th>UPDATE</th>
        <th>DELETE</th>
      </tr>
      {% for task in task_list %}
        <tr>
          <td>
            {{ task.id }}
          </td>
          <td>
            <a href={{ task.get_absolute_url }}>{{ task.name }}</a>
          </td><td>
            {{ task.deadline }}
          </td><td>
            {{ task.print_completed }}
          </td><td>
            {{ task.get_priority_display }}
          </td>
          <td>
            <a class="fw-bold" href="{% url 'company:task-update' pk=task.pk %}">Update</a>
          </td>
          <td>
            <a class="fw-bold" href="{% url 'company:task-delete' pk=task.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}

    </table>
  {% else  %}
    <p>There are not tasks in company now</p>
  {% endif %}
{% endblock %}
