{% extends "base.html" %}

{% block content %}
  <h1>
    Task Type List
    <a style="float: right" class="btn btn-secondary" href="{% url 'company:task-type-create' %}">Create</a>
  </h1>
  <form action="" method="get" class="form-inline">
    {{ search_form.name }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>
  {% if task_types_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for type in task_types_list %}
        <tr>
          <td>
            {{ type.id }}
          </td>
          <td>
            {{ type.name }}
          </td>
          <td>
            <a href="{% url 'company:task-type-update' pk=type.pk %}">UPDATE</a>
          </td>
          <td>
            <a href="{% url 'company:task-type-delete' pk=type.pk %}">DELETE</a>
          </td>
        </tr>
      {% endfor %}

    </table>
  {% else  %}
    <p>There are not task types in company</p>
  {% endif %}
{% endblock %}
