{% extends "base.html" %}

{% block content %}

  {% if task_types_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

      {% for type in task_types_list %}
        <tr>
          <td>
              {{ type.id }}
          </td>
          <td>
            <a href="{{ type.get_absolute_url }}">{{ type.name }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no tasks in the company.</p>
  {% endif %}
{% endblock %}
