{% extends "base.html" %}

{% block content %}
  <h1 class="text-white">
    Username: {{ worker.username }}
  </h1>
  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Email:</strong> {{ worker.email }}</p>
  <p><strong>Active:</strong> {{ worker.print_active }}</p>
  <p><strong>Is staff:</strong> {{ worker.print_staff }}</p>
  <p><strong>Date joined:</strong> {{ worker.date_joined|date:"D d M Y" }}</p>
  <p>
    {% if worker.is_superuser %}
      <strong>Administrator in this company!</strong>
    {% endif %}
  </p>
  <h5>Tasks:</h5>
  <hr>
  <ul>
  {% for task in worker.tasks.all %}
    <li>{{ task.name }}</li>
  {% empty %}
    <p>No tasks!</p>
  {% endfor %}
  </ul>
  <a href="{% url 'company:worker-delete' pk=worker.pk %}" class="btn btn-danger link-to-page">
    Delete
  </a>
  <a href="{% url 'company:worker-update' pk=worker.pk %}" class="btn btn-outline-light link-to-page">
    Update position
  </a>
{% endblock %}
